In [1]:
import pandas as pd
import numpy as np

$$
MCN = \left( N_m, L_m \right)
$$

# Node Set

In [2]:
data = """
7	maze.gui.ScriptInfoPanel
10	maze.model.MazeModel
12	maze.gui.ScriptEditor
21	maze.gui.MazePainterDefault
22	maze.util.ListenerSubject
25	maze.model.RobotPathModel
31	maze.gui.StatTracker
32	maze.util.Listener
33	maze.ai.RobotBase
35	maze.model.CellSizeModel
36	maze.model.RobotModel
37	maze.ai.Tremaux
40	maze.gui.MenuControlled
45	maze.ai.RobotController
46	maze.Main
51	maze.model.MazeCell
52	maze.model.MazeModel.MazeWall
55	maze.gui.ScriptEditorPage
56	maze.gui.MazePainter
57	maze.gui.MazeList
58	maze.gui.RobotAnimator
59	maze.gui.StatViewPage
62	maze.gui.MazeView
68	maze.gui.MazeViewerPage
"""

rows = [line.strip().split() for line in data.strip().split('\n')]

df = pd.DataFrame(rows, columns=['classId', 'class'])

df

   classId                          class
0        7       maze.gui.ScriptInfoPanel
1       10           maze.model.MazeModel
2       12          maze.gui.ScriptEditor
3       21    maze.gui.MazePainterDefault
4       22      maze.util.ListenerSubject
5       25      maze.model.RobotPathModel
6       31           maze.gui.StatTracker
7       32             maze.util.Listener
8       33              maze.ai.RobotBase
9       35       maze.model.CellSizeModel
10      36          maze.model.RobotModel
11      37                maze.ai.Tremaux
12      40        maze.gui.MenuControlled
13      45        maze.ai.RobotController
14      46                      maze.Main
15      51            maze.model.MazeCell
16      52  maze.model.MazeModel.MazeWall
17      55      maze.gui.ScriptEditorPage
18      56           maze.gui.MazePainter
19      57              maze.gui.MazeList
20      58         maze.gui.RobotAnimator
21      59          maze.gui.StatViewPage
22      62              maze.gui.MazeView
23      68        maze.gui.MazeViewerPage

# Edge Set

## Motif Id 38

In [3]:
data = """
62    25    22
68    58    33
68    58    46
58    45    33
55    12    7
59    31    10
68    57    46
62    22    32
62    10    22
68    58    62
58    45    46
37    33    36
62    10    51
62    10    52
59    31    33
"""


rows = [line.strip().split() for line in data.strip().split('\n')]


df_3 = pd.DataFrame(rows, columns=['node1', 'node2', 'node3'])
df_3

   node1 node2 node3
0     62    25    22
1     68    58    33
2     68    58    46
3     58    45    33
4     55    12     7
5     59    31    10
6     68    57    46
7     62    22    32
8     62    10    22
9     68    58    62
10    58    45    46
11    37    33    36
12    62    10    51
13    62    10    52
14    59    31    33

## Motif Id 78

In [4]:
data = """
62	25	22	21
68	57	46	33
68	58	33	57
62	22	32	21
62	21	56	10
68	57	62	33
62	25	51	21
45	33	36	10
62	25	22	35
62	25	22	52
62	25	22	56
55	12	7	40
55	12	7	46
59	31	10	57
62	10	22	21
"""

rows = [line.strip().split() for line in data.strip().split('\n')]

df_4 = pd.DataFrame(rows, columns=['node1', 'node2', 'node3', 'node4'])
df_4

   node1 node2 node3 node4
0     62    25    22    21
1     68    57    46    33
2     68    58    33    57
3     62    22    32    21
4     62    21    56    10
5     68    57    62    33
6     62    25    51    21
7     45    33    36    10
8     62    25    22    35
9     62    25    22    52
10    62    25    22    56
11    55    12     7    40
12    55    12     7    46
13    59    31    10    57
14    62    10    22    21

$$
u_{i}
$$

In [5]:
nodes_3 = set(df_3['node1']).union(set(df_3['node2'])).union(set(df_3['node3']))
nodes_3 = sorted(nodes_3, key=int)
matrix_3 = pd.DataFrame(0, index=nodes_3, columns=nodes_3)

for _, row in df_3.iterrows():
    node1, node2, node3 = row['node1'], row['node2'], row['node3']
    matrix_3.loc[node1, node2] += 1
    matrix_3.loc[node2, node3] += 1
    matrix_3.loc[node1, node3] += 1
matrix_3

,7,10,12,22,25,31,32,33,36,37,45,46,51,52,55,57,58,59,62,68
7,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
10,0,0,0,1,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0
12,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
22,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
25,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
31,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
32,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
33,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
36,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
37,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0
45,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0
46,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
51,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
52,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
55,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
57,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
58,0,0,0,0,0,0,0,2,0,0,2,2,0,0,0,0,0,0,1,0
59,0,1,0,0,0,2,0,1,0,0,0,0,0,0,0,0,0,0,0,0
62,0,3,0,3,1,0,1,0,0,0,0,0,1,1,0,0,0,0,0,0
68,0,0,0,0,0,0,0,1,0,0,0,2,0,0,0,1,3,0,1,0

In [6]:
nodes_4 = set(df_4['node1']).union(set(df_4['node2'])).union(set(df_4['node3'])).union(set(df_4['node4']))
nodes_4 = sorted(nodes_4, key=int)
matrix_4 = pd.DataFrame(0, index=nodes_4, columns=nodes_4)

for _, row in df_4.iterrows():
    node1, node2, node3, node4 = row['node1'], row['node2'], row['node3'], row['node4']
    matrix_4.loc[node1, node2] += 1
    matrix_4.loc[node2, node3] += 1
    matrix_4.loc[node1, node3] += 1
    matrix_4.loc[node1, node4] += 1

matrix_4

,7,10,12,21,22,25,31,32,33,35,...,46,51,52,55,56,57,58,59,62,68
7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
22,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
25,0,0,0,0,4,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
31,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
32,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
33,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
35,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
36,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
40,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
45,0,1,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
46,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
51,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
52,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
55,2,0,2,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
56,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
57,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
58,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
59,0,1,0,0,0,0,1,0,0,0,...,0,0,0,0,0,1,0,0,0,0
62,0,2,0,5,6,5,0,1,0,1,...,0,1,1,0,2,0,0,0,0,0
68,0,0,0,0,0,0,0,0,3,0,...,1,0,0,0,0,3,1,0,1,0

$$
r_{i} = \frac{o_{i}}{ \sum_{k}^{j=1} o_{j} }
$$

In [7]:
total_rows = len(df_3) + len(df_4)
r_3 = len(df_3) / float(total_rows)
r_4 = len(df_4) / float(total_rows)

$$
W=\left \{ \omega \left \langle p,q \right \rangle \mid  \omega \left \langle p,q \right \rangle = \sum_{k}^{i=1} r_{i} \cdot u_{i} \left \langle p,q \right \rangle,\left \langle p,q \right \rangle\in L_{m} \right \}
$$

In [8]:
matrix_3_weighted = matrix_3 * r_3
matrix_4_weighted = matrix_4 * r_4

ids = set(nodes_4).union(set(nodes_3))
ids = sorted(ids, key=int)
combined_matrix = pd.DataFrame(0, index=ids, columns=ids)
combined_matrix += matrix_3_weighted.reindex(index=ids, columns=ids, fill_value=0)
combined_matrix += matrix_4_weighted.reindex(index=ids, columns=ids, fill_value=0)
combined_matrix

,7,10,12,21,22,25,31,32,33,35,...,46,51,52,55,56,57,58,59,62,68
7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.5,0.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,1.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.5,0.0,0.0,0.0,0.0,0.0
22,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25,0.0,0.0,0.0,0.0,2.5,0.0,0.0,0.0,0.0,0.0,...,0.0,0.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
31,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.5,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
32,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
33,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
35,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
36,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
37,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.5,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
40,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
45,0.0,0.5,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
46,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
51,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
52,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
55,1.5,0.0,1.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
56,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
57,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.5,0.0
58,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.5,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.5,0.0
59,0.0,1.0,0.0,0.0,0.0,0.0,1.5,0.0,0.5,0.0,...,0.0,0.0,0.0,0.0,0.0,0.5,0.0,0.0,0.0,0.0
62,0.0,2.5,0.0,2.5,4.5,3.0,0.0,1.0,0.0,0.5,...,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
68,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,...,1.5,0.0,0.0,0.0,0.0,2.0,2.0,0.0,1.0,0.0